:root {
	--primaryYellow: #fca311;
	--primaryBlue: #14213d;
	--primaryBlack: #121111;
	--primaryGray: #5C5C5C;
	--outletColor: #FAFAFA;
	--primaryFont: 'Sora', sans-serif;
	--stylishFont: 'Dancing Script', cursive;
}

html {
	font-size: 62.5%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/*natural border box*/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

p,
ul {
	margin: 0;
}

body {
	font-size: 1.6rem;
	font-family: var(--primaryFont);
	background-color: var(--outletColor);
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Header styles */

.header {
	background-color: #fca311;
	width: 100vw;
}

.header__ul {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 10rem;
	list-style: none;
	height: 8rem;
}

.header__li {
	flex-basis: 1 0 0;
	width: 5rem;
	height: 5rem;
	display: inline-block;
	text-align: center;
}

.header__name {
	font-family: var(--stylishFont);
	line-height: 4rem;
	font-size: 4rem;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
}

.header__menuButton {
	cursor: pointer;
	border: none;
	background-color: transparent;
	height: inherit;
	width: inherit;
	background-image: url('./menu.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	filter: invert();
}

/* ------------------------------------------------ */

/*CSS for MaterialPage*/

.texto-materiales{
	font-size: 15pt;
	display: flex;
	justify-content: center;

}
.buscador-materiales {
	position: relative;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
  }
  
  .buscador-materiales input[type="text"] {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #D9D9D9;
	border-radius: 5px 0px 0px 5px;
  }
  
  .buscador-materiales button {
	position: relative;
	width: 50px;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #9e9d9d;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	cursor: pointer;
  }
  
  .buscador-materiales button:hover {
	background-color: var(--primaryYellow);
  }

.rectangulo{
	display: flex;
	justify-content: center;
	padding-bottom: 2.5rem;
}
.rectangulo-materiales {
	width: 65em;
	height: 10rem;
	border-radius: 10px;
	box-shadow: 0px 0.1px 15px rgba(0, 0, 0, 0.5);
	display: flex;
 	flex-direction: row;

  }

  .seccion {
	flex: 1; 
	padding: 10px;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }
 
  .seccion:last-child {
	border-right: none;
  }
  .seccion:first-child{
	padding-top: 25px;
  }
  
  .seccion label {
	display: block;
	cursor: text;

  }
  .seccion:first-child label:first-child {
	font-size: 25px;
	font-weight: bold; 
	padding-bottom: 5px;
  }
  
  .seccion:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  }
  
  .seccion:last-child button {
	margin-bottom: 10px;
	border: 0px;
	text-align: center;
	text-decoration: none;
	width: 50%;
	height: 50%;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;
	color: white;
	background-color: var(--primaryYellow);
  }
  .descripcion-materiales{
	resize: none;
	border: 0px;
	width: 350px;
	height: 200px;
  }
  .descripcion-materiales:first-child{
	font-weight: bold;
  }

  .medida-materiales{
	font-weight: bold;
	padding: 0.5rem;
	padding-right: 1.4rem;
	text-align: center;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: var(--primaryYellow);
  }
  
  input:focus + .slider {
	background-color: var(--primaryYellow);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
/* ------------------------------------------------ */
/*  Sidebar Styles */

.sidebarGrid {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem 2rem;	
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform .5s; 
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(0); 
}

.sidebar.closed {
    transform: translateX(-100%); 
}

.sidebar__closeTag{
	display: flex;
	background-color: var(--primaryYellow);
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
	width: 2.5rem;
}

@media (width >= 650px) {
	.sidebarGrid{
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	.sidebar.closed {
		transform: translateX(0); 
	}

	.sidebar{
		width: 25%;
	}

	.sidebar__closeTag {
		display: none;
	}
}


.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.sidebar__logo {
  display: flex;
  width: 90%;
  gap: 10%;
  align-items: center;
  text-decoration: none;
  padding: 2rem;

  .logo__img{
	  width: 32px;
	}

  .logo__name {
	font-family: var(--stylishFont);
	line-height: 4rem;
	font-size: 3rem;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
  }

}

.sidebar__menu{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	padding-left: 0;
	margin-bottom: 2rem;
}

.sidebar__menuData {
	list-style: none;
	width: 95%;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	padding: 0 16px;
	color: var(--primaryGray);
	transition: background 0.3s;
	margin-bottom: 1rem;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}


.sidebar__details{
	display: flex;
	gap: 6px;
	position: relative; 
	margin-bottom: 1rem;
	align-items: center;
	
	.icon{
		display: flex;
		background-color: var(--outletColor);
		border-radius: 50%;
		align-items: center;
		transition: 0.4s;
	}
	
	.sidebar__title{
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		
		.iconOpened{
			transform: rotate(0deg);
		}
		
		.iconClosed{
			transform: rotate(-180deg);
		}
		
	}
}

.sidebar__details:hover::before,
.sidebar__details.visible::before {
	content: ""; 
	position: absolute; 
	top: 0;
	left: -15px;
	width: 150%;
	height: 100%;
	background-color: var(--primaryYellow);
	clip-path: circle(8px at 0% 50%);
	z-index: 1;
}

.visible{
	display: flex;
}

.invisible{
	display: none;
}

.subnav {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	gap: 15px;
	
	.submenu__details{
		list-style: none;
	}

	.submenu__details a{
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.submenu__details:last-child{
		margin-bottom: 1rem;
	}
}

.subnav__invisible{
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity .1s, transform .4s;
	max-height: 0;
}

.subnav__visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s, transform .3s ease-in;
}

.sidebar__sesionButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.sesionButton {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	background-color: var(--primaryYellow);
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	cursor: pointer;
	width: 80%;
}

@media (width >= 850px) {
	.sidebar__logo .logo__img{
		width: 48px;
	}

	.sidebar__logo .logo__name{
		font-size: 4rem;
	}

	.sidebar__menuData {
		font-size: 18px;
		width: 100%;
	}

	.sesionButton {
		font-size: 14px;
	}

	.sidebar__details{
		margin-bottom: 2rem;
	}

	.sidebar__details:hover::before, 
	.sidebar__details.visible::before {
		clip-path: circle(10px at 0% 50%);
	}
}

/* ------------------------------- */