:root {
	--primaryYellow: #fca311;
	--primaryBlue: #14213d;
	--primaryBlack: #121111;
	--primaryGray: #5C5C5C;
	--outletColor: #FAFAFA;
	--primaryFont: 'Sora', sans-serif;
	--stylishFont: 'Dancing Script', cursive;
}

html {
	font-size: 62.5%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/*natural border box*/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

p,
ul {
	margin: 0;
}

body {
	font-size: 1.6rem;
	font-family: var(--primaryFont);
	background-color: var(--outletColor);
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Header styles */

.header {
	background-color: #fca311;
	width: 100vw;
}

.header__ul {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 10rem;
	list-style: none;
	height: 8rem;
}

.header__li {
	flex-basis: 1 0 0;
	width: 5rem;
	height: 5rem;
	display: inline-block;
	text-align: center;
}

.header__name {
	font-family: var(--stylishFont);
	line-height: 4rem;
	font-size: 4rem;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
}

.header__menuButton {
	cursor: pointer;
	border: none;
	background-color: transparent;
	height: inherit;
	width: inherit;
	background-image: url('./menu.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	filter: invert();
}

/* ------------------------------------------------ */
/*  Sidebar Styles */

.sidebarGrid {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem 2rem;	
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform .5s; 
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(0); 
	z-index: 5;
}

.sidebar.closed {
    transform: translateX(-100%); 
}

.sidebar__closeTag{
	display: flex;
	background-color: var(--primaryYellow);
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
	width: 2.5rem;
}

@media (width >= 650px) {
	.sidebarGrid{
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	.sidebar.closed {
		transform: translateX(0); 
	}

	.sidebar{
		width: 25%;
	}

	.sidebar__closeTag {
		display: none;
	}
}


.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.sidebar__logo {
  display: flex;
  width: 90%;
  gap: 10%;
  align-items: center;
  text-decoration: none;
  padding: 2rem;

  .logo__img{
	  width: 32px;
	}

  .logo__name {
	font-family: var(--stylishFont);
	line-height: 4rem;
	font-size: 3rem;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
  }

}

.sidebar__menu{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	padding-left: 0;
	margin-bottom: 2rem;
}

.sidebar__menuData {
	list-style: none;
	width: 95%;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	padding: 0 16px;
	color: var(--primaryGray);
	transition: background 0.3s;
	margin-bottom: 1rem;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}


.sidebar__details{
	display: flex;
	gap: 6px;
	position: relative; 
	margin-bottom: 1rem;
	align-items: center;
	
	.icon{
		display: flex;
		background-color: var(--outletColor);
		border-radius: 50%;
		align-items: center;
		transition: 0.4s;
	}
	
	.sidebar__title{
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		
		.iconOpened{
			transform: rotate(0deg);
		}
		
		.iconClosed{
			transform: rotate(-180deg);
		}
		
	}
}

.sidebar__details:hover::before,
.sidebar__details.visible::before {
	content: ""; 
	position: absolute; 
	top: 0;
	left: -15px;
	width: 150%;
	height: 100%;
	background-color: var(--primaryYellow);
	clip-path: circle(8px at 0% 50%);
	z-index: 1;
}

.visible{
	display: flex;
}

.invisible{
	display: none;
}

.subnav {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	gap: 15px;
	
	.submenu__details{
		list-style: none;
	}

	.submenu__details a{
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.submenu__details:last-child{
		margin-bottom: 1rem;
	}
}

.subnav__invisible{
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity .1s, transform .4s;
	max-height: 0;
}

.subnav__visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s, transform .3s ease-in;
}

.sidebar__sesionButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.sesionButton {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	background-color: var(--primaryYellow);
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	cursor: pointer;
	width: 80%;
}

@media (width >= 850px) {
	.sidebar__logo .logo__img{
		width: 48px;
	}

	.sidebar__logo .logo__name{
		font-size: 4rem;
	}

	.sidebar__menuData {
		font-size: 18px;
		width: 100%;
	}

	.sesionButton {
		font-size: 14px;
	}

	.sidebar__details{
		margin-bottom: 2rem;
	}

	.sidebar__details:hover::before, 
	.sidebar__details.visible::before {
		clip-path: circle(10px at 0% 50%);
	}
}

/*CSS for MaterialPage*/

.texto-materiales{
	font-size: 12pt;
	display: flex;
	justify-content: center;
	text-align: center;
}

.header_materiales{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.materiales_button{
	border: 0px;
	text-align: center;
	text-decoration: none;
	width: 25%;
	border-radius: 5px;
	padding: 1rem;
	cursor: pointer;
	color: #fff;
	background-color: var(--primaryYellow);
}

.buscador-materiales {
	position: relative;
	display: flex;
	justify-content: center;
  }
  
.buscador-materiales input[type="text"] {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #D9D9D9;
	border-radius: 5px 0px 0px 5px;
}
  
.buscador-materiales button {
	position: relative;
	width: 50px;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #9e9d9d;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	cursor: pointer;
}
  
.buscador-materiales button:hover {
	background-color: var(--primaryYellow);
}

.rectangulo{
	display: flex;
	justify-content: center;
	padding-bottom: 2.5rem;
}

.rectangulo-materiales {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0.1px 15px rgba(0, 0, 0, 0.5);
}

.rectangulo-materiales {
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 0.1px 15px rgba(0, 0, 0, 0.5);
	display: flex;
 	flex-direction: column;
}

.seccion {
	flex: 1; 
	padding: 10px;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
  }
 
.seccion:first-child{
	padding-top: 25px;
  }
  
.seccion label {
	display: block;
	cursor: text;
  }

.seccion:first-child label:first-child {
	font-size: 25px;
	font-weight: bold; 
	padding-bottom: 5px;
}
  
.seccion:last-child {
	display: flex;
	flex-direction: row;
	gap: 5px;
}
  
.seccion:last-child button {
	border: 0px;
	text-align: center;
	text-decoration: none;
	width: 70%;
	height: 50%;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
	background-color: var(--primaryYellow);
}

.descripcion-materiales{
	border: 0px;
	text-wrap: pretty;
}

.descripcion-materiales:first-child{
	font-weight: bold;
	height: fit-content;
	margin-bottom: 8px;
}

@media (width >= 860px) {
	.texto-materiales{
		font-size: 15pt;
	}

	.rectangulo-materiales {
		width: 100%;
		flex-direction: row;
	}

	.seccion:last-child {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}

  .medida-materiales{
	font-weight: bold;
	padding: 0.5rem;
	padding-right: 1.4rem;
	text-align: center;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: var(--primaryYellow);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
/* ------------------------------------------------ */

/* ------------------------------- */
/* POS styles */

.modal {
	width: 50%;
	transition: all 0.5s allow-discrete;
	padding: 2rem;
	border: 0.2rem var(--primaryGray) solid;
	border-radius: 0.5rem;
	position: relative;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	outline: 0;
}

.modal[open] {
	display: flex;
	opacity: 1;
}

.modal::backdrop {
	background: #000000a0;
	opacity: 0;
	transition: all 0.5s allow-discrete;
}

.modal[open]::backdrop {
	opacity: 1;
}

@starting-style {
	.modal[open] {
		opacity: 0;
	}

	.modal[open]::backdrop {
		background: #000000a0;
		opacity: 0;
	}
}

.modal__close-button {
	align-self: end;
	right: 0.5rem;
	border: none;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	color: var(--primaryGray);
	border-radius: 0.5rem;
	outline: none;
	transition: all 0.5s;
}

.modal__close-button:hover {
	background-color: #c0c0c0c0;
	color: var(--primaryBlack);
}

.POS__title {
	margin: 0;
	padding: 0;
}

.POS__button {
	background-color: var(--primaryYellow);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: none;
	color: white;
}

.POS__button--corner-fixed {
	position: fixed;
	right: 5rem;
	bottom: 5rem;
}

.POS__button--form {
	width: 20rem;
	align-self: center;
}

.POS__fieldset {
	border: 0.1rem solid var(--primaryYellow);
	border-radius: 0.75rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.POS__field-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.POS__input {
	border: none;
	border-bottom: 0.1rem solid var(--primaryYellow);
	outline: none;
}

.POS__form {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
/* ------------------------------- */
/*This is where the styles of finance begin*/
.principal-finances{
	display: flex;
	justify-content: center;

}
.request-table{
	margin: 0 auto;
	width: 80%;
}
.loan-creation {
	background-color: #ffffff;
}
.loan-creation__title {
	display: flex;
	place-content: center;
	height: 6rem;
	border-radius: 1rem;
	background-color: var(--primaryYellow);
	margin: 0 auto;
	margin-top: 2rem;
	box-shadow: 0 1rem 0.5rem #e5e5e5;
}
.loan-creation__elements{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
}
.loan-creation__image--width {
	width: 4rem;
}
.loan-creation__container--input {
	display: flex;
	margin: 0 auto;
	margin-top: 4rem;
}
.loan-creation__container--input > div {
	margin-right: 1rem;
}


.loan__creation--input,
.account-register__description{
	margin-top: 1rem;
	border-color: #fca311;
	border-width: 0 0 0.2rem 0;
	box-shadow: 0 1rem 0.5rem #e5e5e5;
}
.loan-creation__input-submit {
	display: flex;
	justify-content: center;
}
.button-finances__center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.button-finances {
	background-color: var(--primaryBlack);
	border: var(--primaryBlack);
	border-radius: 5rem;
	color: #ffffff;
	width: 15rem;
	margin-right: 1rem;
	margin-top: 2rem;
	padding: 0.5rem;
}

/* Componente de history */

/*percentage bubble*/

.percentage-bubble-container {
	display: flex;
	justify-content: center; /* Para alinear horizontalmente en el centro */
	align-items: center; /* Para alinear verticalmente en el centro */
	height: 20vh; /* Altura del contenedor igual al alto de la ventana */
	gap: 25.25rem; 	
}

.percentage-bubble {
	width: 9.25rem; 
	height: 6.25rem; 
	margin: 1rem; 
	position: relative;
	display: inline-block; /* Para alinear de izquierda a derecha */
}

/*  .percentage-bubble__svg {
width: 100%;
height: 100%;
} */

.percentage-bubble__circle-bg {
	stroke: #eee;
}

.percentage-bubble__circle {
	stroke: #FFA500;
}

.percentage-bubble__percentage {
	fill: #eee;
	font-size: 0.5rem;
}


/*//////////// DataTable ///////////*/


.info-component {
	background-color: black;
	color: white;
	padding: 1rem;
	position: relative;
	box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
	width: 85%;
	margin: 0 auto;
	border-radius: 0 0 .5rem .5rem;
}
.info-component__fecha {
	text-align: left;
}

.info-component__dolares,
.info-component__bs {
	padding: 1rem;
	text-align: right;
}

.info-component__hr-orange {
	position: absolute;
	top: -1.80rem;
	left: 0;
	width: 100%;
	border: none;
	height: 0.625rem;
	background-color: #FCA311;
	box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
}

.info-component__table-row {
	background-color: var(--primaryBlack);
	color: #FFFFFF;
}


.info-component__info-table-container {
	width: 90%;
	margin: 0 auto;
	overflow-x: auto;
}

.info-component__info-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 2rem;
}

.info-component__info-table th,
.info-component__info-table td {
	/*border: 0.5rem solid #fff;  Línea divisoras */
	padding: 0.5rem; /* Espaciado interno */
	text-align: left; /* Alineación del texto */
}

.info-component__info-table th{
	background-color: #FCA311; 
	color: #000000; /* Color de fondo para las celdas de encabezado y filas pares */
}

@media (max-width: 48rem) {
	.info-component__table-cell {
		width: 70%;
	}
}
/*FIN*/
.applicant-data {
	background-color: #ffffff;
	margin-left: 2rem;
	width: 100%;
}
.applicant-data__input {
	margin-top: 2rem;
}
.applicant-data__tittle{
	margin-top: 2rem;
	text-align: center;
	border-radius: 1rem;
	background-color: var(--primaryYellow);
	margin-right: 3rem;
	box-shadow: 0 1rem 0.5rem #e5e5e5;
	width: 20rem;
	height: 6rem;
}
.applicant-data__flex {
	display: flex;
	align-items: center;
}
.applicant-data__margin {
	margin-right: 1rem;
}
.applicant-data__width {
	margin-top: 4rem;
}

.alert{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: auto;
	width: 100%;
	background-color: rgba(18, 17, 17, 0.6);
	

}

@keyframes rotate {
	0% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(-2deg);
	}
	100%{
		transform: rotate(2deg);
	}
	
}
.modal-table{
	display: flex;
	flex-direction: column;
}
.modal-table__thead,
/* .table{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3rem;
	padding-right: 3rem;

} */

.modal-content__fecha{
	margin-left: -3rem;
}
.modal-content__monto{
	margin-left: -2rem;
}
.loan-creation__title__modal{
	width: 100%;
}
thead{
	padding-inline: 1rem;
}
.modal-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.modal-content{
	display: flex;
	justify-content: space-between;
	border-bottom: solid #e5e5e5 1px;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1;
}
.modal-color:nth-child(2n){
	background-color: #e5e5e5;
}
.table-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-thead{
	display: flex;
	justify-content: space-between;
	border-bottom: solid #e5e5e5 1px;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1;

}
.modal-content:hover{
	background-color: #e5e5e5;
}
.search{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	padding: 1rem;
}
.search-input{
	margin-left: 2rem;
	font-size: 18px;
	padding: 5px 10px;
	width: 80%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #121111;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}
.search-imagen{
	object-fit: contain;
	width: 3rem;
}
.modal-table__find{
	display: flex;

}
.modal-content:first-child{
	border-top: solid #121111 2px;
}
.button-image{
	width: 2rem;
}
.button-image:hover{
	filter: drop-shadow(0px 0px 5px #fca311);
}
.button-accept{
	background-color: #fca311;
	color: #000000;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 1rem;
}
.container-button{
	display: flex;
	justify-content: center;
	gap: 2rem;

}
.main-container{
	margin: 0 auto;
	width: 100%;
}
.main-resume__one{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;

}
.main-account__container{
	text-align: center;
}
.main-account__resume{
	border-radius: 1rem;
	width: 20rem;
	height: 15rem;
	background-color: black;
	color: white;
	padding: 1rem;	
	font-size: 5rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-account__resume_text_center{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}
.main-history__resume{
	width: 65%;
}
.main-resume__table-tr{
	border-top: solid white 15px;
	height: 7rem;
	text-align: center;
	background-color: var(--primaryBlack);
	
}
.main-loan__resume{
	height: 6rem;
	background-color: var(--primaryBlack);
	color: white;
	padding: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}
.main-history__resume-button{
	display: block;
	margin-top: 1rem;
	background-color: var(--primaryYellow);
	color: white;
	border-radius: 3rem;
	padding: 5px 10px;
	width: 100%;
	border: none;
	text-decoration: none;
	text-align: center;
}
.main-loan__resume-flex{
	display: flex;
	align-items: center;
	gap:1rem;
}
.main-loan__resume-flex >img{
	width: 5rem;

}
.main-loan__resume-info{
	color: #000000;
	padding: 1rem;
	text-align: center;
	font-weight: bold;
	max-width: 100%;
}
.main-loan__resume-text{
	font-size: rem;
	text-align: center;
}
.main-loan__resume > h2{
	margin-top: 1rem;
}
.main-resume__table-thead > th{
	padding: 2rem;
}
.main-resume__table-tr > td{
	padding: 2rem;
}
.main-resume__two{
	display: flex;
	justify-content: space-between;
	margin-top:10rem;
}
.main-account__resume_text{
	text-align: center;
}
.main-money__resume{
	border-radius: 1rem;
	width: 20rem;
	height: 15rem;
	color: black;
	padding: 1rem;	
	font-size: 3rem;
	margin-bottom: 1rem;
	margin: 0 auto;
}
.main-money__resume_bs{
	background-color: black;
	color: white;
	padding: 1rem;
	border-radius: 1rem 1rem 0 0;
	height: 8rem;
	text-align: center;
}
.main-money__resume_dollar{
	text-align: center;
	background-color: var(--primaryYellow);
	color: black;
	padding: 1rem;
	border-radius: 0 0 1rem 1rem;
	height: 7rem;
	margin-bottom: 3rem;
}
.form-request{
	overflow-x: hidden;
}
.button-content{
	border: none;
	background:none;
}
.button-finances__account{
	margin-top:2rem;
	margin-bottom: 10rem;
}
.request-type__container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
	width: 100%;
	gap: 1rem;
}
.request-type__table{
	grid-column: 1/3;
}
.account{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
	width: 100%;
	gap: 1rem;
}
.account-table{
	grid-column: 1/3;
}
.account-register__elements{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}
.account-buttons__filter{
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*MEDIA QUERY FINANCES(RESPONSIVE)*/
@media (width <= 1100px) {
	.principal-finances {
		flex-direction: column;
		align-items: center;
	}
}

@media (width >= 450px) {
	.loan-creation__elements {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'col1 col2'
			'col3 col4';
	}
	.loan-creation__container--input-descripcion {
		grid-area: col1;
	}
	.loan-creation__container--input-tipo {
		grid-area: col2;
	}
	.loan-creation__container--input-monto {
		grid-area: col3;
		grid-column: 1/3;
	}
}
@media (width >= 950px) {
	.principal-finances{
		transform: scale(1.1);

	}
	.loan-creation__elements {
		padding: 2rem;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			'col1 col2'
			'col3 col4';
	}
	.loan-creation__container--input-descripcion {
		grid-area: col1;
	}
	.loan-creation__container--input-tipo {
		grid-area: col2;

	}
	.loan-creation__container--input-monto {
		grid-area: col3;
		grid-column: 1/3;
	}
}