:root {
	--primaryYellow: #fca311;
	--primaryBlue: #14213d;
	--primaryBlack: #121111;
	--primaryGray: #5c5c5c;
	--outletColor: #fafafa;
	--primaryFont: 'Sora', sans-serif;
	--stylishFont: 'Dancing Script', cursive;
}

html {
	font-size: 62.5%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/*natural border box*/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

p,
ul {
	margin: 0;
}

body {
	font-size: 1.6rem;
	font-family: var(--primaryFont);
	background-color: var(--outletColor);
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Header styles */

.header {
	background-color: #fca311;
	width: 100vw;
}

.header__ul {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 10rem;
	list-style: none;
	height: 8rem;
}

.header__li {
	flex-basis: 1 0 0;
	width: 5rem;
	height: 5rem;
	display: inline-block;
	text-align: center;
}

.header__name {
	font-family: var(--stylishFont);
	line-height: 4rem;
	font-size: 4rem;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
}

.header__menuButton {
	cursor: pointer;
	border: none;
	background-color: transparent;
	height: inherit;
	width: inherit;
	background-image: url('./menu.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	filter: invert();
}

/* ------------------------------------------------ */

/*  Sidebar Styles */

.sidebarGrid {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem 2rem;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	border-radius: 0 20px 20px 0;
	gap: 10px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: transform 0.5s;
	overflow-y: auto;
	overflow-x: hidden;
	transform: translateX(0);
}

.sidebar.closed {
	transform: translateX(-100%);
}

.sidebar__closeTag {
	display: flex;
	background-color: var(--primaryYellow);
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
	width: 2.5rem;
}

@media (width >= 650px) {
	.sidebarGrid {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	.sidebar.closed {
		transform: translateX(0);
	}

	.sidebar {
		width: 25%;
	}

	.sidebar__closeTag {
		display: none;
	}
}

.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.sidebar__logo {
	display: flex;
	width: 90%;
	gap: 10%;
	align-items: center;
	text-decoration: none;
	padding: 2rem;

	.logo__img {
		width: 32px;
	}

	.logo__name {
		font-family: var(--stylishFont);
		line-height: 4rem;
		font-size: 3rem;
		text-decoration: none;
		font-weight: 700;
		color: #000000;
	}
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	padding-left: 0;
	margin-bottom: 2rem;
}

.sidebar__menuData {
	list-style: none;
	width: 95%;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	padding: 0 16px;
	color: var(--primaryGray);
	transition: background 0.3s;
	margin-bottom: 1rem;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.sidebar__details {
	display: flex;
	gap: 6px;
	position: relative;
	margin-bottom: 1rem;
	align-items: center;

	.icon {
		display: flex;
		background-color: var(--outletColor);
		border-radius: 50%;
		align-items: center;
		transition: 0.4s;
	}

	.sidebar__title {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		.iconOpened {
			transform: rotate(0deg);
		}

		.iconClosed {
			transform: rotate(-180deg);
		}
	}
}

.sidebar__details:hover::before,
.sidebar__details.visible::before {
	content: '';
	position: absolute;
	top: 0;
	left: -15px;
	width: 150%;
	height: 100%;
	background-color: var(--primaryYellow);
	clip-path: circle(8px at 0% 50%);
	z-index: 1;
}

.visible {
	display: flex;
}

.invisible {
	display: none;
}

.subnav {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	gap: 15px;

	.submenu__details {
		list-style: none;
	}

	.submenu__details a {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.submenu__details:last-child {
		margin-bottom: 1rem;
	}
}

.subnav__invisible {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.1s, transform 0.4s;
	max-height: 0;
}

.subnav__visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s, transform 0.3s ease-in;
}

.sidebar__sesionButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.sesionButton {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	background-color: var(--primaryYellow);
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	cursor: pointer;
	width: 80%;
}

@media (width >= 850px) {
	.sidebar__logo .logo__img {
		width: 48px;
	}

	.sidebar__logo .logo__name {
		font-size: 4rem;
	}

	.sidebar__menuData {
		font-size: 18px;
		width: 100%;
	}

	.sesionButton {
		font-size: 14px;
	}

	.sidebar__details {
		margin-bottom: 2rem;
	}

	.sidebar__details:hover::before,
	.sidebar__details.visible::before {
		clip-path: circle(10px at 0% 50%);
	}
}

/* ------------------------------- */

/* ------------------------------- */

/* POS styles */

.modal {
	width: 50%;
	transition: all 0.5s allow-discrete;
	padding: 2rem;
	border: 0.2rem var(--primaryGray) solid;
	border-radius: 0.5rem;
	position: relative;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	outline: 0;
}

.modal[open] {
	display: flex;
	opacity: 1;
}

.modal::backdrop {
	background: #000000a0;
	opacity: 0;
	transition: all 0.5s allow-discrete;
}

.modal[open]::backdrop {
	opacity: 1;
}

@starting-style {
	.modal[open] {
		opacity: 0;
	}

	.modal[open]::backdrop {
		background: #000000a0;
		opacity: 0;
	}
}

.modal__close-button {
	align-self: end;
	right: 0.5rem;
	border: none;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	color: var(--primaryGray);
	border-radius: 0.5rem;
	outline: none;
	transition: all 0.5s;
}

.modal__close-button:hover {
	background-color: #c0c0c0c0;
	color: var(--primaryBlack);
}

.POS__title {
	margin: 0;
	padding: 0;
}

.POS__button {
	background-color: var(--primaryYellow);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: none;
	color: white;
}

.POS__button--corner-fixed {
	position: fixed;
	right: 5rem;
	bottom: 5rem;
}

.POS__button--form {
	width: 20rem;
	align-self: center;
}

.POS__fieldset {
	border: 0.1rem solid var(--primaryYellow);
	border-radius: 0.75rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.POS__field-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.POS__input {
	border: none;
	border-bottom: 0.1rem solid var(--primaryYellow);
	outline: none;
}

.POS__form {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
/* ------------------------------- */
